<%@parties.each do |party|%>
  <div class="party-container">
    <%= party.name%>
    <%= button_to "削除",  destroy_in_index_party_path(party), method: :delete%>
  </div>
<%end%>

<style>
.party-container {
  display: flex;
  align-items: center; /* 垂直方向の中央揃え */
  gap: 20px
}
</style>