<% provide(:title, @party.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="party_info">
      <h1>
        <%= @party.name %>
        <br>
        <%=@party.name.length%>
        <br>
      </h1>
    </section>
  </aside>
</div>
