<h1>フィーリングカップルへようこそ</h1>
<h3>素敵な恋を見つけましょう<br><br><br>
<%= link_to "⚫︎新しい卓を作る", newparty_path%>
<br><br><br>
<%= link_to "⚫︎既存の卓に参加する", searchparty_path%>
<br><br><br>
</h3>

<h3><b>【フィーリングカップルとは？】</b></h3>
僕らはきっと両思い。でも、告白する勇気がない・・！<br>
そんなあなたが結ばれるための、魔法のようなゲームです！<br>
参加者が自分の好きな人をこっそり登録すると、<font color="red">両思いの時だけ教えてくれます。</font><br>
合コンや飲み会の最後はフィーリングカップルを遊んで、ノーリスクで恋人を作っちゃおう！<br>
<br>
<h3><b>【遊び方】</b></h3>
①代表者が「新しい卓を作る」から卓を作ります<br>
②他の参加者は「既存の卓に参加する」から卓名を入力するか、<br>
　シェアされた卓のURLにアクセスすることで参加できます。<br>
③あとは画面の指示に従えばOKです。<br>
<br>
<h3><b>【２つのモードについて】</b></h3>
<h3><b>●通常モード</b></h3>
本命の相手を一人だけ選ぶことができます。<br>
両想いの時だけカップル成立します。<br>

<h3><b>●複数指名モード</b></h3>
一人の本命に加えて、<b>「付き合ってもいいかな」</b>という相手を<b>複数名</b>選ぶことができます。<br>
本命同士を優先的にマッチングした後、<br>
お互いに「付き合ってもいい」と思っている男女のマッチングを行います。<br>
（このとき、成立カップルが最も多くなるようにマッチングされます。）<br>
<br>
「自分を好きになってくれる人がタイプです！」という考えの方は,<br>
 このモードで「付き合ってもいい」相手をたくさん指名しましょう。<br>
<br>
<br>
<h5>
【使用技術】<br>
このホームページはRuby on railsを用いて実装されています。<br>
デプロイにはrender.comを利用しました。（とっても簡単で便利）<br>
複数指名モードの実装には、<br>
二部グラフの最大マッチング問題を解くためにDinic法というアルゴリズムを使用しています<br>
"いかたこのたこつぼ"さんのホームページを参考にさせていただきました。<br>
<a href="https://ikatakos.com/pot/programming_algorithm/graph_theory/bipartite_matching">二部グラフのマッチング [いかたこのたこつぼ]</a><br>
<br>
<br>
【更新履歴】<br>
2023/12/05　初版完成。フィーリングカップルを最初から最後まで遊べる。<br>
2023/12/09　cssが一切なかったので気持ち程度に追加。背景画像やボタンのデザインなど<br>
2023/12/20　複数指名モードを追加。数うちゃ当たる戦法で恋人を探せるようになった。<br>
2023/12/21　卓ページのurlを/parties/{partyの番号}から/parties/{partyの名前}に変更。<br>
　　　　　　 他人の卓ページに勝手にアクセスしづらくなった。 (利便性を考えてログイン機構やPWは導入したくない・・・)<br>
2023/12/22　卓名に日本語を使っているとバグっていたのを修正。(URIエンコードの関係)<br>
2023/12/26　デザインを強化<br>
2024/01/17　メンバーの一括登録をできるようにした。<br>
2024/02/06　LINEのシェアボタンを追加した。(画面を更新しないと表示されないバグあるが、修正できてない・・)<br>
2024/02/07　軽微なバグ修正<br>
2024/03/18　javascriptを導入！結果発表時にクラッカーを鳴らしたり、雪が降ったりと派手に演出される。
<h5>
