<h1>フィーリングカップルへようこそ</h1>
<h3>素敵な恋を見つけましょう<br><br><br>
<%= link_to "⚫︎新しいパーティを作る", newparty_path%>
<br><br><br>
<%= link_to "⚫︎既存のパーティに参加する", searchparty_path%>
<br><br><br>
</h3>

<h3>【フィーリングカップルとは？】</h3>
僕らはきっと両思い。でも、告白する勇気がない・・！<br>
そんなあなたが結ばれるための、魔法のようなゲームです！<br>
参加者が自分の好きな人をこっそり登録すると、両思いの時だけ教えてくれます。<br>
合コンや飲み会の最後はフィーリングカップルを遊んで、ノーリスクで恋人を作っちゃおう！<br>
<br>
<h3>【遊び方】</h3>
①代表者が「新しいパーティを作る」からパーティを作ります<br>
②他の参加者は「既存のパーティに参加する」からパーティ名を入力するか、<br>
　パーティのURLにアクセスすると参加できます。
<br>
③あとは画面の指示に従えばOKです。