<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "トップページ", root_path, id: "logo" %>
    <%= button_to 'リロード', reload_path, method: :get %>
  </div>
</header>